---
layout: default
title: furansui
tagline: a blog
---
{% include JB/setup %}

<!-- post styling -->

    {% for post in paginator.posts %}

<div class="page-header">
  <h1>{{ post.title }}</h1>
</div>
    
<div class="row post-full">
  <div class="col-xs-12">
    <div class="date">
      <span>{{ post.date | date: '%Y.%m.%d %H:%M' }}</span>
    </div>
    <div class="post">
      {{ post.content }}
    </div>
    
  {% unless post.categories == empty %}
    <ul class="tag_box inline">
      <li><span class="glyphicon glyphicon-open"></span></li>
      {% assign categories_list = post.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  

  {% unless post.tags == empty %}
    <ul class="tag_box inline">
      <li><span class="glyphicon glyphicon-tag"></span></li>
      {% assign tags_list = post.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  

  </div>
</div>
    {% endfor %}
 
<div class="row-fluid">
  <div class="span12">
    <div class="pagination">
      <ul class="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <li><a href="/">Prev</a></li>
          {% else %}
          <li><a href="/page{{ paginator.previous_page }}">Prev</a></li>
          {% endif %}
        {% else %}
        <li><span class="disabled">Prev</span></li>
        {% endif %}


        {% if paginator.page == 1 %}
        <li><span class="active">1</span></li>
        {% else %}
        <li><a href="/">1</a></li>
        {% endif %}

        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
          <li><span class="active">{{ count }}</span></li>
          {% else %}
          <li><a href="/page{{ count }}">{{ count }}</a></li>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <li><a href="/page{{ paginator.next_page }}">Next</a></li>
        {% else %}
        <li><span class="disabled">Next</span></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>


